@import "../variables.less";

.userBox {
  color: @text-white;
  text-align: right;
  .userBoxTextWrapper {
    padding-top: 10px;
    display: inline-block;
    .userBoxHeading {
      font-size: 20px;
    }
  }
  .userBoxAvatarWrapper{
    float: right;
    .userBoxAvatar{
      margin-top: 7px;
      margin-left: 24px;
    }
  }
  p {
    margin: 0;
  }
}
